{% extends 'base.html.twig' %}

{% block body %}
    <h1>Medium</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medium.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{% if medium.url %}{{ medium.url|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if medium.date %}{{ medium.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('media_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('media_edit', { 'id': medium.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
